<div *ngIf="!isLoading"><app-loader  > </app-loader></div>
<div class="py-4">
    <div class="container">
        <h2>Shopping Cart</h2>
        <p>ToTal price:<span>{{cart?.data?.totalCartPrice}}</span></p>
        <button class="btn  btn-outline-success" [routerLink]="['/payment',cart?.cartId]" routerLinkActive="router-link-active">Onlinepayment</button>
        <div class="row gy-2 py-5" *ngFor="let product of cart?.data?.products">
            <div class="col-md-2" >
        <img [src]="product?.product?.imageCover" class="w-100">
            </div>
            <div class="col-md-10">
                <h3>{{product.product.title}}</h3>
                <div class="d-flex justify-content-between align-items-center">
                    <div >
                    <p> {{product.price}}</p>
                    <button class="btn btn-outline-danger"(click)="DeleteCart(product.product._id)" >
                        <i class='fa-regular fa-trash-can'></i>Remove</button>
                </div>
                    <div class="">
                        <button (click)="Updatacart(product.product._id,product.count+1)"class="btn btn-outline-success">+</button>
                        {{product.count}}
                        <button (click)="Updatacart(product.product._id,product.count-1)" class="btn btn-outline-success">-</button>
                
                    </div>
                </div>
                </div>
            </div>
        </div> 
    </div>
    

