<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">

                <form (ngSubmit)="ForgetPassword(user)" [formGroup]="user" class="form"id="ForgetPassword" >
                    <div class="card p-4 shadow ">
                        <h2 class="text-center pt-5">ForgetPassword</h2>
                        <div class="row gy-4 p-4">
                            <div class="col-12 ">
                             <input type="email" class="form-control" formControlName="email" placeholder="Enter your Email">
                             <div class="text-danger" *ngIf="user.get('email')?.errors&&user.get('email')?.touched">
                             <small *ngIf="user.get('email')?.getError('required')"> Email is required</small>
                             <small  *ngIf="user.get('email')?.getError('email')">"Please enter a valid email address ."</small>
                             </div>
                            </div>
                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-outline-success" [disabled]="user.invalid">Submit<span *ngIf="isLoad"><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span></button>
                            </div>
                        </div>
                    </div>
                </form>
                <form (ngSubmit)="VerifyPassword(userCode)" [formGroup]="userCode" class="form d-none" id="VerifyPassword">
                    <div class="card p-4 shadow ">
                        <h2 class="text-center pt-5">VerifyPassword</h2>
                        <div class="row gy-4 p-4">
                            <div class="col-12 ">
                             <input type="text" class="form-control" formControlName="resetCode" placeholder="Enter your resetCode">
                             <div class="text-danger" *ngIf="userCode.get('resetCode')?.errors&&userCode.get('resetCode')?.touched">
                             <small *ngIf="userCode.get('resetCode')?.getError('required')"> resetCode is required</small>
                             </div>
                            </div>
                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-outline-success"[disabled]="userCode.invalid">Submit  <span *ngIf="isLoad"><i class='fa-solid text-success m-2  fa-spinner fa-spin'></i></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
